language: ruby
rvm:
- 2.3.5
services:
  - postgresql
addons:
  postgresql: '9.6'
script:
- bundle exec rake db:migrate RAILS_ENV=test
- bundle exec rspec
before_script:
- cp config/database.yml.example config/database.yml
- psql -c 'create database gurupr_test;' -U postgres
