<%= content_for :header do %>
  <div class="container">
    <div class="page-header">
      <h1>Event: <%= @event.name %></h1>
      <small>Editing event</small>
    </div>
  </div>
<% end %>

<%= render 'form' %>
