table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

// table striped

.table-striped {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $base-font-color;
  border: $base-border;

  td {
    transition: background-color .2s ease-in-out;
  }

  td,
  th {
    border-left: $base-border;
    line-height: $base-line-height;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
    background-color: $white-color;
  }

  th {
    background-color: $action-color;
    color: $white-color;
  }

  tr {
    width: 100%;

    &:nth-child(2n+2) td {
      background-color: darken($white-color, 4%);
    }

    &:hover td {
      background-color: darken($white-color, 8%);
    }
  }

}