section.event-banner
  .text-center
    a.twitter-timeline[data-width="800" data-height="250" data-link-color="#cc342d" data-chrome="nofooter noheader noborders transparent" href="https://twitter.com/guru_pr"]
    script[async=true src="//platform.twitter.com/widgets.js" charset="utf-8"]
