<h1>welcome#index</h1>

<h2>Members <a name="members"></a></h2>

<ul>
<% @members.each do |user| %>
  <li><%= user.name %> (<%= link_to 'github', "http://github.com/#{user.nickname}", target: '_blank' %>)</li>
<% end %>
</ul>
