span.addtocalendar.atc-style-button-icon
  a.atcb-link = fa_icon 'calendar', text: t('.link')
  var.atc_event
    var.atc_date_start = calendar.date_start
    var.atc_date_end = calendar.date_end
    var.atc_timezone = calendar.timezone
    var.atc_title = calendar.title
    var.atc_description = calendar.description
    var.atc_location = calendar.location
    var.atc_organizer = calendar.organizer
    var.atc_organizer_email = calendar.organizer_email
