default: &default
  adapter: postgresql
  encoding: unicode
  url: <%= ENV['DATABASE_URL'] %>
  pool: 5

development:
  <<: *default
  database: gurupr_development

test:
  <<: *default
  database: gurupr_test

production:
  url: <%= ENV['DATABASE_URL'] %>
