
.event-banner,
.page-header {
  @extend %clearfix;

  h1 {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  p,
  small {
    display: block;
    color: rgba($base-font-color, .75);
    font-size: 1rem;
    margin-top: 5px;
  }

  .btn-add {
    padding-left: 15px;
    padding-right: 15px;

    &.pull-right {
      margin-top: 25px;
    }
  }
}

.event-banner {
  text-align: center;
  @extend .container;

  ul.list-inline {
    li {
      display: inline-block;
      margin: 0 10px;
      color: $primary-color;
      font-size: 1.2rem;
    }
  }

  small {
    display: block;
    margin-top: $small-spacing;
    margin-bottom: $small-spacing;
    font-weight: 400;
  }
}

.event-item {
  padding: $base-spacing;
  padding-left: 180px;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid rgba($base-border-color, .6);
  position: relative;
  transition: background-color .2s ease-in-out;

  h2 {
    font-size: 1.6rem;
  }

  .fa-calendar {
    @include position(absolute, $base-spacing null null $base-spacing);
    color: $primary-color;
    opacity: .1;
    font-size: 130px;
    transition: opacity .2s ease-in-out;
  }

  &:hover {
    background-color: darken($white-color, 3%);

    .fa-calendar {
      opacity: .5;
    }
  }
}

.event-show {
  padding-top: $base-spacing;
  @extend .clearfix;

  h1 {
    font-weight: $font-weight-normal;
    color: $black-color;
  }

  .description {
    ul {
      width: 100%;
      margin-bottom: $base-spacing;
    }

    li {
      padding: ($small-spacing/2) 0;
      border-bottom: $base-border;
    }

    @include media($min-tablet) {
      float: left;
      width: 50%;
      padding-right: $small-spacing;
    }
  }
}

#event_summary_preview,
#event_description_preview {
  padding: $base-spacing 0;
}