
$navbar-height: 95px;

.navbar-toggle {
  display: none;
}

.navbar-brand {
  background: image-url("ruby-logo.png") no-repeat left;
  padding-left: 80px;
  font-size: 2rem;
  color: $black-color;
  margin: 0;
  line-height: $navbar-height;
  display: block;
}

@media not all, not all, (-webkit-min-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
  .navbar-brand {
    background-image: image-url("ruby-logo@2x.png");
    background-size: 62px 62px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  min-height: $navbar-height;
  background-color: $white-color;
  padding: 0;
  border-bottom: 2px solid $primary-color;

  // margin-bottom: $base-spacing;
  // overflow: hidden;
}

.navbar-header {
  float: left;
}

.guru-nav {
  float: right;

  li {
    display: inline-block;
    margin-left: 35px;
    position: relative;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    padding: 0;
    line-height: $navbar-height;

    &:hover,
    &:focus,
    &:active {
      color: $primary-color;
    }
  }

  .open {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown-menu {
  @include position(absolute, 100% null null 0);
  z-index: 1000;
  background-color: $white-color;
  box-shadow: 0 0 2px rgba($black-color, .2);
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  display: none;

  li,
  a {
    display: block;
    margin: 0;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    padding: 5px 15px;
    line-height: $base-line-height;

    &:hover {
      background-color: darken($white-color, 2%);
    }
  }
}


.atc-style-button-icon {
  position: relative;

  a {
    &,
    &:hover,
    &:focus {
      color: $white-color;
    }
  }

  .atcb-list {
    display: none;
    @extend .dropdown-menu;
    margin-top: -2px;
    width: 100%;
    // position: absolute;
    // top: 100%;
    // left: 0;
    // right: 0;
    // background-color: $white-color;
    // padding: ($small-spacing/2) 0;
    // box-shadow: $form-box-shadow;

    a {
      padding: ($small-spacing/2) $small-spacing;
      display: block;
      color: $base-font-color;

      &:hover,
      &:active,
      &:focus {
        background-color: darken($white-color, 5%);
      }
    }
  }

  &:hover {
    .atcb-list {
      display: block;
    }
  }

  .atc_event {
    display: none;
  }
}
