.event-banner {
  @extend .container;

  padding: 5px 5%;

  .page-header {
    margin: 10px 0 20px;
    border-bottom: 1px solid $navbar-default-bg;
  }

  h1 {
    font-size: 40px;
    $default-margin: 15px 0;
    margin: $default-margin;

    small {
      font-size: 50%;
      ul {
        margin: $default-margin;

        @media (max-width: $screen-xs-max) {
          li {
            padding: 5px;
          }
        }
      }
    }
  }

  .local > * {
    color: #777777;
  }

  .summary {
    font-size: $font-size-h3;
    font-weight: lighter;

    @media (max-width: $screen-xs-max) {
      text-align: center;
      padding: 5px;
    }
  }
}
