.event {
  @extend .row;

  .description {
    @extend .col-md-4;
    @extend .col-md-offset-2;

    font-size: 125%;
    font-weight: 200;
  }

  .sidebar {
    @extend .col-md-4;
    @extend .text-center;

    .map {
      @extend .img-responsive;

      margin-left: auto;
      margin-right: auto;
    }
  }
}
