// image-header.scss
.image-header {
  margin-top: -20px;
  margin-bottom: 20px;
  color: $body-bg;

  background-image: image-url('background.jpg');
}

.image-header.small {
  .page-header {
    border: 0;
  }

  .event-banner {
    .summary, div:last-child {
      @extend .hidden;
    }
  }
}
// image-header.scss
