<h1>Admin users</h1>

<ul>
  <% @admins.each do |admin| %>
  <li><%= admin.name %> <%= link_to 'Revoke', admin_user_accesses_path(admin), method: :delete %></li>
  <% end %>
</ul>

<h1>Normal users</h1>

<ul>
  <% @users.each do |user| %>
  <li><%= user.name %> <%= link_to 'Grant', admin_user_accesses_path(user), method: :post %></li>
  <% end %>
</ul>
