.share-buttons {
  text-align: center;

  a {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;

    &:hover {
      color: #eeeeee;
    }

    &:active {
      position: relative;
      top: 2px;
      box-shadow: none;
      color: #e2e2e2;
      outline: none;
    }
  }

  .twitter { background: #55acee; }
  .google-plus { background: #dd4b39; }
  .facebook { background: #3B5998; }
  .envelope { background: #444444; }
}
